.link {
    display: inline-block;
    text-decoration: none;
    padding: 16px;
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 13px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #9B9FAA;
}

.link.active {
    color: #212121;
}