@import '~modern-normalize/modern-normalize.css';

:root {
  --accent-color: #FC842D;
  --primary-text-color: #212121;
  --secondary-text-color: #9B9FAA;
  --dark-bg-text-color: #ffffff;
  --sidebar-bg: #F0F1F3;
  --menu-bg: #264061;
}

@font-face {
  font-family: 'Verdana';
  src: local('fonts'),
    url('./fonts/Verdana-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Verdana';
  src: local('fonts'),
    url('./fonts/Verdana-Bold.ttf') format('truetype');
  font-weight: 700;
}
body {
  margin: 0;
  font-family: 'Verdana', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p{
  margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}